@page "/R_Libros"
@inject LibrosBLL LibrosBLL


<EditForm Model="libro" OnInvalidSubmit="Guardar" >

    <div class= "card text-primary">

     <div class="card-header text-center ">
        <h1>Registro de Libros</h1>
     </div>

    <div class="card-body">

        <div class="row">
            <div class="col-3">
                <label for="txtLibroId" class="form-label"> Libro Id:</label>
                <input type="number"  id="txtLibroId" class="form-control" @bind-value="libro.LibroId" >
            </div>

            <div class="col-2">
                 <button name="Btn" id="BtnBuscar" class="btn btn-primary mr-2"  @onclick="Buscar"> Buscar </button>
            </div>
            
        </div>

        <div class="row">
            <div class="col-6">
                <label for="txtTitulo" class="form-label"> Titulo:</label>
                <input type="text"  id="txtTitulo" class="form-control"  @bind-value="libro.Titulo">
            </div>
        </div>

         <div class="row">
            <div class="col-6">
                <label for="txtPrecio" class="form-label"> Precio:</label>
                <input type="number"  id="txtPrecio" class="form-control"  @bind-value="libro.Precio" >
            </div>
        </div>

     </div>

     

    <div class="card-footer text-center">
         <button  id="BtnNuevo" class="btn btn-primary mr-2" @onclick="Nuevo"> Nuevo </button>
         <button  id="BtnGuardar" class="btn btn-success mr-2 " @onclick="Guardar" > Guardar </button>
         <button  id="BtnEliminar" class="btn btn-danger mr-2" > Eliminar </button>
     </div>

</div>

</EditForm>


@code {
    public int LibroId {get; set;}
    public Libros libro{get; set;} = new Libros();

   bool Validar(){
        bool condicion= true;
        if(String.IsNullOrEmpty(libro.Titulo)){ condicion= false;}
        if(libro.Precio<=0){ condicion= false;}

        return condicion;


    }

    void Nuevo(){
        this.libro= new Libros();
    }
    void Guardar(){
        if(!Validar()){return;}

        if(LibrosBLL.Guardar(libro)){
            this.Nuevo();
        }

    }

    void Buscar(){

        var LibroEncontrado= LibrosBLL.Buscar(libro.LibroId);

        if(LibroEncontrado!=null){
            this.libro= LibroEncontrado;
        }
    }

    
}
